<IfModule mod_headers.c>
    Header always set Access-Control-Allow-Origin "*"
</IfModule>

<IfModule mod_rewrite.c>

    RewriteEngine On
    RewriteBase /herb/
    
    # Presentation manifest API
    RewriteRule ^iiif/([^/]*)$           iiif/$1/manifest [R=303]
    RewriteRule ^iiif/([^/]*)/manifest$  presentation_manifest.php?barcode=$1 [PT]
    RewriteRule ^iiif/([^/]*)/annotation$ presentation_manifest.php?barcode=$1 [PT]

    # Presentation collection API
    # /collection/country/family/genus/species
    RewriteRule ^iiif/collection/([^/]*)/([^/]*)/(.*)$  presentation_collection.php?family=$1&genus=$2&species=$3 [PT]

    # Image API
    RewriteRule ^iiif/([^/]*)/info\.json  image_info.php?barcode=$1 [PT]
    # {scheme}://{server}{/prefix}/{identifier}/{region}/{size}/{rotation}/{quality}.{format}
    RewriteRule ^iiif/([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)\.jpg image_proxy.php?barcode=$1&region=$2&size=$3&rotation=$4&quality=$5 [PT]

</IfModule>

